@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

:root{
    --main-color: #c06757;
    --black: #262627;
    --bg: #be7575;
    --border: .1rem solid rgba(255,255,255, .3);
}

*{
    font-family: 'Playfair Display', serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-track{
    background: #fff;
    border-radius: 5rem;
}

body{
    background:#753535;
}

section{
    padding: 2rem 7%;
}   

.heading{
    text-align: center;
    color: #a54040;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: #be7575;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn .hover{
    letter-spacing: .2rem;
}


.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}


.header .logo img{
    height: 5rem;
}

.header .navbar a{
    margin:0 2rem;
    font-size: 1.6rem;
    color: #fff;
}

.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color: #9c5b5b;
}

#menu-btn{
    display: none;
}





/*media queries*/
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }
    
    section{
        padding: 2rem;
    }   
    
}


@media (max-width:768px){

    #menu.btn{
        display: inline-block;
    }

.header .navbar{
    position: absolute;
    top: 100%; right: 0;
    background: hsl(0, 33%, 47%);
    width: 30rem;
    height: calc(100vh - 9.5rem);
}

.header .navbar .active{
    right: 0;
}

.header .navbar a{
    color: var(--black);
    display: block;
    margin: 1.5rem;
    padding: .5rem;
    font-size: 2rem;
}

.home{
    background-position: left;
    justify-content: center;
    text-align: center;
}

.home .content h3{
    font-size: 4.5rem;
}

.home .content p{
    font: size 1.5rem;
}

}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(../images/pinky.jpg) no-repeat ;
    background-size: cover;
    background-position: center;
    padding-top: 10rem;
}

.home .content{
    max-width:100%;
    text-align: center;
}

.home .content h3{
    font-size: 6rem;
    font-family: georgia;
    text-transform: uppercase;
    color: #814338e7;
    
}

.home .content p{
    font-size: 2rem;
    font-weight:bold;
    line-height: 1.8;
    padding: 1rem 0;
    color: #662b21;
}

.Biodata .row{
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
}

.Biodata .row .image{
    flex: 1 1 45rem;
    box-shadow: 0px 0px 15px 0px #e97f7f;
    border-radius: 2rem;
}

.Biodata .row .image img{
    width: 100%;
    border-radius: 3rem;
}

.Biodata .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
    height: 72rem;
    box-shadow: 0px 0px 25px 0px #d13d3d;
    border-radius: 2rem;
    background:#be7575;
}

.Biodata .row .content h3{
    font-size: 2rem;
    color: #fff;
    padding: 2rem;
}
.Education .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10rem;
   
  }
  
  .Education .container .image{
  height: 35rem;
  width: 30rem;
  border-radius: 1rem;
  margin: 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px #d6c7c7;
  border-radius: 2rem;
}
  
.Education .container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    float: left;
 
}


.Education .container .text{
 box-shadow: 0px 0px 20px 0px #963333;
 border-radius: 2rem;
 width: 55rem;
 height: 35rem;
 padding: 2rem;
 background:#be7575;

}
  .Education .container .text h3{
    font-size: 2rem;
    color: #a13636;
    padding: 2rem;
    font-weight: bolder;

  } 


 .Education .container .text p{
    font-size: 2rem;
    color: #fff;
    padding: 2rem;
  }


.Experience .row{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     border-radius: 2rem ;
     border: none;
     padding-bottom: 10rem;
     box-shadow:none;
    background: none;
}


.Experience .row .image{
    flex: 30rem;
    width: 30rem;
    height: 25rem;
    border-radius: 2rem;
    padding-right: 2rem;
    
}

.Experience .row .image img{
    width: 100%;
    height: 100%;
}

.Experience .row .content{
    flex:1 1 45rem;
    padding: 2rem;
    box-shadow: 0px 0px 10px 0px #963333;
    border-radius: 3rem;
    border-left: 5rem;
    height: 30rem;
    width:auto;
    text-align: justify;
    background:#be7575;
}



.Experience .row .content p{
    font-size: 1.5rem;
    color: #dbd1b0;
    padding: 1rem 0;
    line-height: 1.8;
    
}

.Gallery .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    background:url(../images/pinky.jpg);
}

.Gallery .box-container .box{
    height: 20rem;
    width: 20rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
    border-radius: 1rem;
   box-shadow: 0px 0px 15px 0px #666;
}


.Gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
 
}


.Gallery .box-container .box:hover img{
    transform:scale(1.2) ;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display:block;
    align-items: center;
    background:url(../images/pinky.jpg);
}

.Contact .row{
    width: 100%;
    height: auto;
    margin: left;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #666;
    border: none;
    float: left;
    background:#be7575;
}



.Contact .row .content{
    width: 50rem;
    height: auto;
    flex: 50%;
    border: none;
    box-shadow: none;
    background: none;

}
 

.Contact .row .content .info{
    width: 100%;
    height: auto;
    display: flex;
    align-items:baseline;
    justify-content: auto;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin: 3rem;
}




